:root {
  --main-bg-color: #f2ece5;
  --font-family: "iransans";
  --main-color: #383c47;
  --other-color: #232323;
  --hover-color: rgb(204, 164, 126);
}
/* .cart-container {
  padding: 0 0.5rem;
} */

.cart,
.cartNew {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 23rem; */
  /* width: calc(100% - 20% / 3); */
  height: 17.5rem;
  cursor: pointer;
  position: relative;
  min-height: 140px;
  border-radius: 1em;
  box-shadow: 0 14px 20px rgba(56, 60, 71, 0.1);
  /* margin: 1em 1em; */
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.3s;
  /* padding: 0 1rem; */
  margin: 0 0.5em;
}
.cartNew {
  width: 23rem;
}
.cart:hover {
  transform: translateY(-0.1rem);
}
.cart-img {
  flex: 0.8;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100%;
  position: relative;
}
.cart-img::before {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  height: 100px;
  background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.65));
}
.cart-text {
  flex: 0.4;
  width: 100%;
  position: relative;
  padding: 1em;
  box-sizing: border-box;
  direction: rtl;
}
.cart-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 10%;
  border: solid transparent;
  pointer-events: none;
  border-color: transparent;
  border-bottom-color: #fff;
  border-width: 8px;
  z-index: 2;
}
.cart-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart-img .like {
  position: absolute;
  top: 0.7rem;
  right: 0.5rem;
}
.cart-img .like:after {
  content: "\e906";
  font-family: "icomoon";
  color: white;
  font-size: 1.5rem;
}
.cart-img .like:hover::after {
  content: "\e907";
  color: white;
}
.cart-img .discount {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0 2rem 2rem 2rem;
  background: linear-gradient(-60deg, #ef4123, #ef2379);
  position: absolute;
  top: 0.7rem;
  left: 0.5rem;
  color: #fff;
  font-size: 0.9rem;
}
.cart-img .nodiscount,
.cart-text-title .noaddressParant {
  display: none;
}
.cart-text .cart-text-title {
  display: flex;
  font-size: 1.125rem;
  font-weight: 500;
  align-items: baseline;
  margin-bottom: 1em;
}
.cart-text .cart-text-title span {
  font-size: 0.7rem;
  padding-right: 0.3em;
  color: #888;
}
.cart-text .cart-text-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #888;
}
.cart-text .cart-text-location div:nth-child(1) span {
  font-size: 0.8rem;
  margin-right: 0.4rem;
}
.cart-text .cart-text-location div:nth-child(2) {
  font-size: 0.7rem;
}
.delivery-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 5rem;
  height: 2.1rem;
  border-radius: 2rem;
  top: 0;
  left: 1rem;
  background-color: #fff;
  transform: translateY(-50%);
  box-shadow: 0 5px 10px rgba(56, 60, 71, 0.1);
  font-weight: 500;
  color: var(--main-color);
  padding: 0.1rem;
}
.delivery-time span {
  font-size: 0.75rem;
  font-weight: 400;
}
.cart-img .logo-holder {
  position: absolute;
  width: 4rem;
  height: 4rem;
  bottom: 1rem;
  right: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.cart-img .logo img {
}
.cart .star {
  text-align: left;
  margin-top: 0.4em;
}
.rating {
  font-size: 1.4rem;
}
@media only screen and (max-width: 1200px) {
  .cart {
    /* width: 20.7rem; */
  }
}
@media only screen and (max-width: 992px) {
  .cart {
    /* width: calc((100% -2em) / 2); */
    /* width: 23rem; */
  }
}
