:root {
  --many-use-color: #ef4123;
  --main-color: #383c47;
}

.rest-cover {
  display: flex;
  flex: 1;
  background-color: #f0f0f0;
}
.rest-pay-container {
  flex: 0.5;
  padding: 3em 0;
  border-right: 0.5px solid rgba(128, 128, 128, 0.2);
  z-index: 5;
  background-color: white;
}
.rest-pay {
  position: sticky;
  top: 8rem;
}
.rest-info {
  flex: 1.5;
  position: relative;
}
.empty-img img {
  width: 95%;
  margin: 0 auto 0.5em;
}
.empty-txt {
  color: #ccc;
}
.rest-info-img {
  position: relative;
  background-color: white;
}
.rest-info-img .rest-info-img-main {
  width: 100%;
  height: 19rem;
  object-fit: cover;
}
.rest-info-img .back-btn,
.rest-info-img .hoby-btn {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  margin: 1rem 0 0 3rem;
  padding: 0.3rem 0.9rem;
  border-radius: 0.3rem;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
}
.rest-info-img .back-btn:after {
  content: "\e908";
  font-family: "icomoon";
  font-size: 1.3rem;
  padding-right: 0.2rem;
}
.hoby-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem 3rem 0 0 !important;
}
.hoby-btn::before {
  content: "\e916";
  font-family: "icomoon";
  padding-left: 0.2rem;
}
.hoby-btn:hover::before {
  content: "\e917";
  font-family: "icomoon";
  color: white;
}
.hoby-btn:hover {
  background: linear-gradient(-60deg, #ef4123, #ef2379);
  border-color: transparent;
}
.hoby-icon {
  color: white;
}
.rest-info-img .discount-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(-60deg, #ef4123, #ef2379);
  padding: 0.3rem 1rem;
  margin: 0 0 1.3rem 3rem !important;
  border-radius: 0 2rem 2rem 2rem;
  font-size: 0.9rem;
  color: white;
}
.rest-info-img-logo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 7rem;
  height: 7rem;
  margin: 0 2rem 1.3rem 0;
  border-radius: 2rem;
}
.rest-info-text {
  background-color: white;
}
.rest-info-text-wrapper {
  display: flex;
  flex: 1;
  width: 90%;
  margin: 0 auto 0.8rem auto;
  padding-top: 0.8rem;
}
.rest-info-text-right,
.rest-info-text-left {
  flex: 1;
  display: flex;
}
.rest-info-text-right {
  flex-direction: column;
}
.rest-info-text-right-rate {
  display: flex;
  text-align: right;
}
.rest-info-text-right h1 {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  align-items: baseline;
}
.rest-info-text-right h1 small {
  font-size: 1rem;
  color: #888;
  padding-right: 0.4rem;
  font-weight: 400;
}
.rest-rating {
  font-size: 1.75rem;
}
.rest-info-text-right-rate {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.rest-info-text {
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.2);
}
.rest-info-text-right-rate button {
  padding: 0.3rem 0.5rem;
  line-height: 1rem;
  border-radius: 0.2rem;
}
.rest-info-text-right-rate .rate-btn {
  background-color: #21c64f;
  color: white;
  margin: 0 0.5rem 0 0.2rem;
}
.rest-info-text-right-rate .comment-btn {
  border: 1px solid var(--many-use-color);
  padding: 0.3rem 0.5rem;
  color: var(--many-use-color);
  line-height: 1rem;
}
.rest-info-text-left {
  flex: 1;
  flex-direction: column;
}
.status-holder {
  display: flex;
  justify-content: flex-end;
  margin: 1em 0 3em 0;
  text-align: end;
  align-items: center;
}
.status-holder i {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: end;
  position: relative;
  width: 1rem;
  height: 1rem;
  background-color: #21c64f;
  display: flex;
  vertical-align: top;
  margin-left: 0.6rem;
  border-radius: 50%;
  animation: flash 1s linear infinite;
}
.status-holder i:before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  content: "";
  background-color: rgba(33, 198, 79, 0.3);
  border-radius: 50%;
  transform: translateX(17%);
}
.status-holder span {
  font-size: 0.9rem;
}
.helmet-time {
  display: flex;
  flex: 1;
  margin: 0 auto 0 0;
  width: 75%;
  color: #bbb;
}
.helmet-time i {
  font-size: 1.625rem;
  color: var(--many-use-color);
  margin-left: 1rem;
  font-weight: 500;
}
.time-wrapper,
.helmet-wrapper {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
.time-wrapper-text,
.helmet-wrapper-text {
  display: flex;
  flex-direction: column;
  align-items: end;
  line-height: 1.5rem;
}
.helmet-time a {
  color: var(--many-use-color);
  font-weight: 500;
}
.helmet-time small {
  font-size: 0.8rem;
}
.time-wrapper-text a {
  color: var(--main-color);
}
.section-tab {
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.2);
  background-color: white;
  position: relative;
}
.nodisplay {
  display: none;
}
.section-tab ul,
.search-input-wrapper {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}
.slider-menu,
.slider-menu-show {
  /* width: 100%; */
  width: 75%; /* chikar konam width ro injuri nadam */
  background-color: white;
  position: fixed;
  top: 4.7rem;
  height: 0vh;
  transition: all 0.2s;
  overflow: hidden;
  z-index: 4;
}
.slider-menu-show {
  height: 7rem;
}
.slider-menu-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  height: 7rem;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
.slider-menu-wrapper div {
  outline: none;
}
.slider-each-menu {
  display: flex !important;
  flex-direction: column;
  margin: 0 3rem;
  justify-content: center;
  align-items: center;
  width: 5rem !important;
  outline: none;
}
.enable {
  border-bottom: 3px solid red;
}
.slider-each-menu span {
  margin-top: 1rem;
  font-size: 0.84375rem;
}
.nosliderMenu {
  height: 0;
}
.slider-menu-wrapper img {
  width: 2rem;
  height: 2rem;
}
.slider-menu-wrapper a {
  height: 100%;
  outline: none;
  width: unset;
}
.section-tab li {
  margin-left: 3rem;
  line-height: 3rem;
}
.section-tab li:hover {
  color: var(--many-use-color);
}
.section-tab .activeMenu {
  color: var(--many-use-color);
  border-bottom: 3px solid var(--many-use-color);
}
.search-input-rest-container {
  background-color: rgb(240, 240, 240);
  padding-bottom: 10rem;
}
.rest-other .search-input-rest {
  display: block;
  padding: 1rem 0;
}
.search-input-wrapper .search-input-form {
  padding: 0.5rem 0.6rem;
  width: 30%;
  border: 0.5px solid rgba(128, 128, 128, 0.2);
  display: flex;
  background-color: white;
}
.search-input-form input {
  padding-right: 0.5rem;
  width: 90%;
  line-height: 1.1rem;
}
::placeholder {
  font-size: 0.9rem;
  font-family: "iranSans";
}
.food-list-wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: right;
}
.food-list h2 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 2rem 0;
}
.food-list-desc {
  display: flex;
  flex-wrap: wrap;
}
.slick-list {
  height: 100%;
}
.slider-menu-wrapper .slick-slider {
  width: 100%;
  height: 100%;
}
.slider-menu-wrapper .slick-slide img {
  display: inherit;
}
.slider-menu-wrapper .slick-slide div {
  height: 100%;
  box-sizing: border-box;
}
.slider-menu-wrapper .slick-track {
  height: 100%;
}
.slider-menu-wrapper .slick-prev:before,
.slider-menu-wrapper .slick-next:before {
  content: "\e903";
  color: black;
  font-family: "icomoon";
}
.slider-menu-wrapper .slick-next:before {
  content: "\e93e";
}

.slider-menu-wrapper .slick-prev {
  left: 0 !important;
  z-index: 1;
}
.slider-menu-wrapper .slick-next {
  right: 0 !important;
}
.userComment,
.rest-data {
  background-color: white;
  margin-top: 1rem;
}
.userComment-wrapper {
  padding: 1rem;
}
.userComment-wrapper h4,
.rest-data-wrapper h4 {
  text-align: right;
  font-weight: bold;
  padding: 1rem 0;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.2);
  margin-bottom: 2rem;
}
.userComment-estimate {
  padding: 1rem 0 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.2);
}
.userComment-star {
  margin-bottom: 0.5rem;
}
.userComment-estimate .rest-rating {
  font-size: 2.75rem;
}
.userComment-star-total-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userComment-total {
  width: 7rem;
  height: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid rgba(128, 128, 128, 0.2);
  padding: 0 0.5rem;
}
.userComment-total b {
  font-size: 1.125rem;
  font-weight: bold;
  margin-left: 0.3rem;
}
.userComment-total span {
  color: #888;
  font-size: 0.75rem;
}
.userComment-summary {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 70%;
  position: relative;
  max-width: 20rem;
}
.userComment-summary li {
  width: 90%;
  display: flex;
  flex: 1;
  align-items: center;
}
.userComment-summary b {
  content: "";
  vertical-align: middle;
  background: url("../../assets//media/slidericon/summary.png") no-repeat 0 0;
  background-size: 25px;
  height: 25px;
  flex: 0.15;
  margin: 0.1rem 0 0.1rem 0.5rem;
}
.userComment-summary li:nth-child(2) b {
  background-position: 0 -25px;
}
.userComment-summary li:nth-child(3) b {
  background-position: 0 -50px;
}
.userComment-summary .rate-bar {
  height: 0.5rem;
  border-radius: 1rem;
  background-color: #ddd;
  flex: 0.7;
  overflow: hidden;
}
.userComment-summary span {
  flex: 0.2;
  margin-right: 0.5rem;
  text-align: right;
}
.rate-bar i {
  float: right;
  height: 100%;
  background-color: #fcb146;
  border-radius: 1rem;
}
.rate-bar .good {
  width: 59%;
}
.rate-bar .notbad {
  width: 20%;
}
.rate-bar .bad {
  width: 10%;
}
.comment-row {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-bottom: 1.5rem;
}
.comment-row:not(:last-child) {
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.2);
}
.comment-row-title {
  display: flex;
  position: relative;
}
.comment-row-title figure {
  float: right;
  margin-left: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  background: url("../../assets/media/slidericon/profile.png") no-repeat 50%
    #f3f3f3;
  background-size: cover;
  overflow: hidden;
  border-radius: 50%;
}
.comment-row-title-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.comment-row-title-name span:nth-child(1) {
  font-size: 1rem;
  font-weight: 700;
}
.comment-row-title-name span:nth-child(2) {
  font-size: 0.75rem;
  color: #888;
  margin-top: 0.5rem;
}
.comment-row-title::before {
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  background: url("../../assets//media/slidericon/summary.png") no-repeat;
  background-size: cover;
  margin-bottom: 1rem;
  width: 2rem;
  height: 2rem;
  transform: translateY(-50%);
}
.comment-row-text {
  text-align: justify;
  margin-bottom: 1rem;
}
.comment-row-text p {
  line-height: 1.5rem;
  font-size: 0.875rem;
}
.comment-row-orderFood span {
  border: 1px solid #ddd;
  padding: 0.3rem 0.75rem;
  margin: 2px;
  cursor: pointer;
  float: right;
  border-radius: 999px;
  font-size: 0.9rem;
}
.review-rate {
  border-right: 0.5px solid rgba(128, 128, 128, 0.2);
}
.comment-row-orderFood small {
  padding-right: 0.3rem;
  margin-right: 0.3rem;
}
.comment-row-orderFood i {
  color: #f5a623;
  font-size: 0.9rem;
  margin-right: 0.1rem;
}
.rest-data-wrapper {
  padding: 1rem;
}
.rest-data-wrapper header {
  text-align: right;
  margin-bottom: 1.5rem;
}
.rest-data-wrapper .map-holder {
  background-color: #eee;
  width: 100%;
  height: 250px;
  margin-bottom: 4rem;
  position: relative;
}
.rest-data-wrapper .map,
.map-holder img {
  width: 100%;
  height: 100%;
  display: none;
}

.basic-info {
  margin-bottom: 1rem;
}
.basic-info ul {
  display: flex;
  justify-content: space-between;
}
.basic-info li {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: flex-start;
  font-size: 0.875rem;
}
.basic-info label {
  color: var(--many-use-color);
}
.basic-info aside {
  margin-top: 0.75rem;
  margin-right: 1.5rem;
}
.basic-info i {
  font-size: 1.125rem;
  margin-left: 0.5rem;
}
.basic-info a {
  color: #333;
  padding: 0.5rem 0.75rem;
  margin: 0.2rem;
  background-color: #efefef;
  border-radius: 1rem;
  display: inline-block;
  font-size: 0.8125rem;
  text-align: center;
}
.section-whrs-text {
  display: flex;
}
.section-whrs-text-right {
  flex: 1.5;
}
.section-whrs-text-right small {
  font-size: 0.9rem;
  margin-right: 0.2rem;
}
.section-whrs-text-right ul {
  display: flex;
  justify-content: flex-end;
}
.section-whrs-text-right li {
  margin: 1rem;
}
.section-whrs-text-right li div {
  display: flex;
  flex-direction: column;
  border: 1px solid #f8f8f8;
}
.section-whrs-text-right li:nth-child(1) b {
  background-color: #f8f8f8;
  padding: 0.5rem;
}
.section-whrs-text-right li:nth-child(2) b {
  background-color: var(--many-use-color);
  padding: 0.5rem;
}
.section-whrs-text-right li:nth-child(1) span,
.section-whrs-text-right li:nth-child(2) span {
  font-size: 0.8rem;
  padding: 1.5rem;
}
.section-whrs-text-right header {
  margin-bottom: 0.5rem;
}
.section-whrs-text-left {
  flex: 1.5;
  padding: 0 1rem;
  margin-right: 1rem;
  font-size: 0.875rem;
}
.section-whrs-text-left header,
.section-whrs-text-left-row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 0.5px solid rgba(190, 189, 189, 0.2);
  margin: 0;
}
.section-whrs-text-left-row {
  border-bottom: 0.5px solid rgba(190, 189, 189, 0.1);
}
.section-whrs-text-left header span {
  font-weight: bold;
}
.section-whrs-text-left header span,
.section-whrs-text-left-row span {
  text-align: center;
  width: 33%;
}
.section-whrs-text-left-row span {
  padding: 0.5rem;
}
.section-whrs-text-left-row span:first-child {
  text-align: right;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 1200px) {
  .slider-menu-show {
    width: 100%;
  }
  .rest-pay-container {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .helmet-time {
    width: 90%;
  }
  .slider-menu-show {
    top: 4rem;
  }
}
@media only screen and (max-width: 768px) {
  .hoby-btn span {
    display: none;
  }
  .hoby-btn::before {
    padding-left: 0;
  }
  .rest-info-img .back-btn,
  .rest-info-img .hoby-btn {
    margin: 1rem 0 0 2rem;
  }
  .rest-info-img .hoby-btn {
    margin: 1rem 2rem 0 0 !important;
  }
  .rest-info-text-wrapper {
    flex-direction: column;
  }
  .rest-info-text-right {
    flex-direction: row;
    justify-content: space-between;
  }
  .rest-info-text-right-rate {
    flex-direction: column;
  }
  .rest-info-text-right h1 {
    font-size: 1.25rem;
  }
  .rest-info-img-logo {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
  }
  .comment-btn {
    font-size: 0.75rem;
  }
  .rate-btn {
    order: 1;
  }
  .status-holder {
    justify-content: flex-start;
    padding: 1rem 0;
    margin: 0.5rem 0;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.2);
    border-top: 0.5px solid rgba(128, 128, 128, 0.2);
  }
  .helmet-time {
    margin: 0 auto;
  }
  .helmet-time div {
    justify-content: center;
  }
  .time-wrapper {
    border-left: 0.5px solid rgba(128, 128, 128, 0.2);
  }
  .section-tab ul {
    justify-content: space-between;
  }
  .section-tab li {
    margin: 0;
    width: 33%;
  }
  .search-input-form {
    width: 100% !important;
  }
  .rest-info-text-right h1 small {
    font-size: 0.8125rem;
  }
  .rest-info-text-right-rate .rate-btn {
    margin: 0.3rem 0 0 0;
  }
  .status-holder span,
  .time-wrapper-text a,
  .helmet-time a {
    font-size: 0.8125rem;
  }
  .helmet-time small {
    font-size: 0.625rem;
  }
  .section-tab li {
    font-size: 0.875rem;
  }
  .slider-each-menu img {
    display: none;
  }
  .slider-menu-wrapper .slick-prev,
  .slider-menu-wrapper .slick-next {
    display: none !important;
  }
  .slider-menu-wrapper .slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider-menu-show,
  .slider-menu-wrapper {
    height: 4rem;
  }
  .basic-info ul {
    flex-direction: column;
  }
  .section-whrs-text {
    flex-direction: column;
  }
  .section-whrs-text-right ul {
    justify-content: flex-start;
  }
  .section-whrs-text-left {
    width: 70%;
  }
  .basic-info li {
    width: 100%;
  }
  @media only screen and (max-width: 400px) {
    .rest-info-img .back-btn,
    .rest-info-img .hoby-btn {
      margin: 1rem 0 0 1rem;
    }
    .rest-info-img .hoby-btn {
      margin: 1rem 1rem 0 0 !important;
    }
  }
}
