:root {
  --main-bg-color: #f2ece5;
  --font-family: "iransans";
  --main-color: #383c47;
  --other-color: #232323;
  --hover-color: rgb(204, 164, 126);
}
a {
  text-decoration: none;
  color: black;
}
.btn-default {
  background: linear-gradient(-60deg, #ef4123, #ef2379);
}
.user-location {
  padding: 1.4em 0;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.2);
  z-index: 2;
  background-color: #fff;
}
.forsticky {
  position: sticky;
  top: 0;
  z-index: 999;
}
.user-location__container,
.search-all-rest__wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  font-size: 1.125rem;
}
.user-location__container b {
  padding: 0 0.2em;
}
.user-location__container strong::after {
  content: "\e905";
  font-family: "icomoon";
  font-size: 0.7rem;
  margin-right: 0.5em;
  font-weight: 500;
}
.user-location__container strong {
  color: #ef4123;
  font-size: 1.1rem;
  font-weight: 500;
  padding-bottom: 0.2em;
}
.user-location__container strong:hover {
  border-bottom: 1px dotted #ef4123;
}
.search-all-rest {
  background-color: #f8f8f8;
  padding: 0.8em 0;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.2);
}
.search-all-rest-input {
  width: 100%;
}
.search-all-rest-input form {
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
}
.search-button-container {
  display: flex;
  margin-right: 0.7em;
  border-radius: 0.2em;
}
.search-input {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 0.4em;
  padding: 0.6em;
  border: 0.5px solid rgba(128, 128, 128, 0.2);
  background-color: #fff;
}
.btn-search {
  width: 100%;
  color: #fff;
  border-radius: 0.4em;
  font-size: 1rem;
  height: 3rem;
  padding: 0 0.4em;
}
.search-input input {
  font-size: 1rem;
  font-family: var(--font-family);
  padding-right: 0.5em;
  width: 100%;
}
.search-input i {
  color: #bbb;
}
::placeholder {
  color: #bbb;
}
.slide {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1em;
  padding: 2em 0;
  position: relative;
}
.slider-img {
  border-radius: 1em;
  object-fit: cover;
  height: 70vh;
  width: 100%;
}
.content-inner {
  display: flex;
  flex-direction: column;
}
.content-inner-info-title-section {
  display: flex;
  margin-bottom: 2em;
}
.content-inner-info-title-wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 54rem;
}
.content-inner-info-title {
  margin: 1em 0;
  font-size: 2.125rem;
  font-weight: 500;
}
.content-inner-info-text {
  margin: 1.5em 0;
  line-height: 1.5rem;
  text-align-last: center;
  text-align: justify;
}
.content-inner-popular-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto 3em;
  width: 90%;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.content-inner-popular-wrapper header {
  text-align: right;
  font-size: 2.125rem;
  font-weight: 500;
  margin: 1em 0;
}
.poplular-food a {
  width: 100%;
  height: 100%;
}
.popular-food ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.popular-food li {
  width: calc((100% - 5em) / 5);
  height: 8rem;
  background-color: aqua;
  margin: 0.5em;
  position: relative;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.popular-food img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.popular-food a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
  background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.6));
}
.popular-food span {
  position: absolute;
  bottom: 1rem;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
  z-index: 2;
  width: auto;
  right: 1rem;
  font-size: 1.1rem;
}
.popular-food li:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.content-inner-discount-new-wrapper,
.app-promotion-wrapper {
  display: flex;
  flex: 1;
  margin: 1em auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.app-promotion {
  width: 100%;
  background-color: #ddf0e2;
  position: relative;
  padding: 4rem 0;
}
.app-promotion::after {
  content: "";
  opacity: 0.07;
  position: absolute;
  left: 0;
  top: 0;
  background: url(https://www.delino.com/img/home/pattern-app-promotion.png)
    repeat 0 0/5px #ddf0e2;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.app-promotion-right {
  padding: 0 5em;
  z-index: 2;
  flex: 1;
}
.app-promotion-right h2 {
  font-size: 2.125rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.app-promotion-right header {
  margin-bottom: 3em;
}
.app-promotion-right-form {
  display: flex;

  width: 100%;
  margin-bottom: 1.5em;
  box-sizing: border-box;
  border-radius: 0.6rem;
  overflow: hidden;
  box-shadow: 0 14px 20px rgba(56, 60, 71, 0.1);
}
.app-promotion-left {
  flex: 0.5;
  z-index: 3;
}
.app-promotion-right-form button {
  padding: 1em;
  box-sizing: border-box;
}
.app-promotion-right-form span {
  color: #fff;
  font-size: 1rem;
}
.app-promotion-right-form input {
  flex: 1;
  background-color: #fff;
  padding: 0.7em;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.3rem;
  font-family: var(--font-family);
}
.app-links {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  direction: rtl;
  max-width: 360px;
  margin: 0 auto;
}
.app-links li {
  width: 45%;
  margin: 0.3em;
  background-color: var(--other-color);
  position: relative;
  border-radius: 0.3rem;
}
.app-links img {
  width: 100%;
}
.custom-dots {
  margin: 0;
  width: 1rem;
  height: 1rem;
}
.famous-rest,
.footer {
  width: 100%;
}
.famous-rest-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 90%;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.2);
  padding-bottom: 2em;
}
.famous-rest-wrapper header {
  margin: 2em 0;
}
.famous-rest-wrapper h3 {
  margin-top: 1rem;
}
h2 {
  font-size: 2.125rem;
  font-weight: 500;
}
h3 {
  font-size: 1.125rem;
}
.famous-rest-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.famous-rest-wrapper li {
  width: calc((100%) / 8);
  padding: 1em 0;
  transition: all 0.3s ease;
}
.famous-rest-wrapper li:hover {
  transform: scale(1.1);
}
.famous-rest-wrapper a,
.home-namad-wrapper div:first-child {
  display: flex;
}
.home-namad-wrapper div:first-child img {
  object-fit: contain;
}
.famous-rest-wrapper img {
  margin: 0 auto;
  width: 65%;
  border-radius: 1em;
}
.home-namad {
  width: 100%;
}
.home-namad-wrapper {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}
.home-namad-text {
  max-width: 45%;
  line-height: 1.5rem;
  color: #888;
  font-size: 0.9rem;
  text-align: justify;
}
.home-namad-wrapper div:nth-child(2) img {
  width: 11rem;
}
@media only screen and (max-width: 1300px) {
  .search-all-rest__wrapper {
    width: 90%;
  }
  .popular-food li {
    height: 20vh;
  }
}
@media only screen and (max-width: 1200px) {
  .popular-food li {
    width: calc((100% - 5em) / 5);
    height: 20vh;
  }
  .app-promotion-wrapper {
    overflow: hidden;
  }
  .app-promotion-left img {
    position: relative;
    width: 35vw;
  }
  .app-promotion-right {
    padding: 0 2rem;
  }
  .home-namad-text {
    max-width: 52%;
  }
}
@media only screen and (max-width: 992px) {
  .popular-food li {
    width: calc((100% - 3em) / 3);
    height: 29vh;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 0.875rem;
  }
  .app-promotion-wrapper {
    padding-right: 5%;
    width: unset;
  }
  .app-promotion-right {
    padding: 0;
  }
  .app-promotion-left img {
    position: relative;
    width: 39vw;
    left: -23%;
  }
  .slider-img {
    height: 50vh;
  }
  .famous-rest-wrapper li {
    width: calc((100%) / 4);
  }
  .home-namad-text {
    max-width: 70%;
  }
  .home-namad-wrapper {
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .popular-food li {
    width: calc((100% - 2em) / 2);
    height: 27vh;
  }
  .header {
    padding: 0.8em;
  }
  .btn-search {
    font-size: 0.875rem;
    height: 2.5rem;
  }
  .search-input {
    padding: 0.4em;
  }
  .search-input input {
    font-size: 0.875rem;
  }
  .user-location {
    padding: 1em 0;
  }
  .user-location__container {
    font-size: 0.875rem;
  }
  .user-location__container strong {
    font-size: 0.875rem;
  }
  .user-location__container b {
    font-size: 0.875rem;
  }
  .content-inner {
    padding: 0;
  }
  .content-inner-info-title {
    font-size: 1.4625rem;
    line-height: 2.2rem;
  }
  .content-inner-info-text {
    text-align: center;
  }
  .resturant a {
    font-size: 0.875rem;
  }
  .slide {
    padding: 1em 0 0 0;
    margin-top: 1em;
  }
  .slider-img {
    height: 46vh;
  }
  .app-promotion-wrapper {
    padding-right: 0;
    width: unset;
  }
  .app-promotion-right {
    padding: 2rem;
  }
  .app-promotion-left {
    display: none;
  }

  .famous-rest-wrapper li {
    width: calc((100%) / 3);
  }
}
@media only screen and (max-width: 650px) {
  .slider-img {
    height: 36vh;
  }
  .content-inner-info-text {
    text-align: justify;
  }
  .popular-food li {
    width: calc((100% - 2em) / 2);
    height: 25vh;
  }
}
@media only screen and (max-width: 645px) {
  .popular-food li {
    width: calc((100% - 2em) / 2);
    height: 20vh;
  }
  .app-promotion-right-form {
    flex-direction: column;
  }
}
@media only screen and (max-width: 400px) {
  .popular-food li {
    height: 14vh;
  }
  .popular-food span {
    font-size: 1rem;
  }
}
