.footer {
  display: flex;
  flex-direction: column;
  background-color: #383c47;
  padding: 1.3em 0;
}
.footer-wrapper {
  width: 85%;
  margin: 0 auto;
}
.change-lanq {
  text-align: left;
  padding: 0 0 1.3em 0;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  margin: 0 0.5em;
}
.change-lanq i {
  margin-right: 0.3rem;
}
.change-lanq button {
  color: #fff;
  padding: 0.5em;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.2rem;
  font-size: 0.9rem;
}
.footer-menu,
.footer-menu nav,
.footer-icon ul {
  display: flex;
  align-items: center;
}
.footer-middle {
  display: flex;
  padding: 1em 0;
  justify-content: space-between;
  align-items: center;
}
.footer-middle img {
  width: 3rem;
  height: 3rem;
  margin-left: 1em;
}
.footer-middle a {
  color: #fff;
  margin: 0.5rem;
  font-size: 0.8rem;
}
.footer-icon a {
  font-size: 1.3rem;
}
.footer-icon-last {
  display: flex;
  justify-content: space-between;
}
.footer-icon-last-icon {
  width: 19rem;
}
.footer-icon-last-icon,
.footer-icon-last-icon a {
  display: flex;
  height: 100%;
}
.footer-icon-last-icon li {
  width: 45%;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  margin: 0 0.25rem;
  border-radius: 0.3rem;
}
.footer-icon-last-icon img {
  width: 100%;
}
.footer-icon-last p {
  text-align: right;
  color: white;
  font-size: 0.7rem;
  width: 40%;
  opacity: 0.5;
  line-height: 1.1rem;
}
@media only screen and (max-width: 992px) {
  .footer-middle {
    flex-direction: column;
  }
  .footer-icon-last {
    flex-direction: column;
    align-items: center;
  }
  .footer-icon-last p {
    text-align: center;
    width: 100%;
    margin-bottom: 2em;
  }
  .footer-menu nav {
    margin-bottom: 1.5em;
  }
  .footer-middle img {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .change-lanq {
    text-align: center;
  }
  .footer-icon-last-icon li {
    width: 100%;
  }
}
@media only screen and (max-width: 485px) {
  .footer-menu nav {
    flex-wrap: wrap;
    justify-content: center;
  }
}
