@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?m74lad');
  src:  url('fonts/icomoon.eot?m74lad#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?m74lad') format('truetype'),
    url('fonts/icomoon.woff?m74lad') format('woff'),
    url('fonts/icomoon.svg?m74lad#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-circular-button-symbol:before {
  content: "\e91b";
}
.icon-logo-delino-sign:before {
  content: "\e90f";
  color: #ef4123;
}
.icon-add:before {
  content: "\e918";
}
.icon-plus:before {
  content: "\e919";
}
.icon-empty-heart:before {
  content: "\e916";
}
.icon-fill-heart:before {
  content: "\e917";
}
.icon-left-arrow:before {
  content: "\e908";
}
.icon-stopwatch:before {
  content: "\e910";
}
.icon-helmet-1:before {
  content: "\e914";
}
.icon-film-roll:before {
  content: "\e90d";
}
.icon-paper-plane:before {
  content: "\e90e";
}
.icon-cancel:before {
  content: "\e90b";
}
.icon-close:before {
  content: "\e90c";
}
.icon-scooter:before {
  content: "\e912";
}
.icon-delivery-man:before {
  content: "\e913";
}
.icon-pie:before {
  content: "\e91a";
}
.icon-star:before {
  content: "\e911";
}
.icon-sms:before {
  content: "\e90a";
}
.icon-logo:before {
  content: "\e909";
  color: #ef4123;
}
.icon-heart-fill:before {
  content: "\e907";
}
.icon-heart:before {
  content: "\e915";
}
.icon-supermarket:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-placeholder:before {
  content: "\e902";
}
.icon-back:before {
  content: "\e903";
}
.icon-forward:before {
  content: "\e93e";
}
.icon-down:before {
  content: "\e904";
}
.icon-down-arrow:before {
  content: "\e905";
}
.icon-like:before {
  content: "\e906";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
