:root {
  --mainsearch-color: #f8f8f8;
  --many-use-color: #ef4123;
}
.section-search {
  overflow: hidden;
}
.search-navbar {
  background-color: var(--mainsearch-color);
  padding: 1rem 0;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.2);
  /* overflow: hidden; */
}
.search-navbar-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.search-navbar-wrapper-filter {
  display: flex;
}
.search-input {
  display: flex;
  flex: 1;
}
.close-wrapper {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #a09a9a;
  padding: 0.1rem;
}
.close-wrapper:after {
  content: "\e90c";
  font-family: icomoon;
  font-size: 0.5rem;
}
.search-input input {
  flex: 1;
  line-height: 0.75rem;
}
.search-navbar-wrapper-filter button {
  display: flex;
  align-items: baseline;
  border: 0.5px solid var(--many-use-color);
  margin-right: 0.5rem;
  padding: 0.75rem 1rem;
  line-height: 0.75rem;
  border-radius: 0.3rem;
}
.search-filter div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--mainsearch-color);
  margin-left: 0.2rem;
}
.search-filter button {
  font-size: 1rem;
  color: #383c47;
  display: flex;
  align-items: center;
  background-color: white;
}
.applied-filter-list {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.applied-filter-list ul {
  color: black;
  text-align: right;
}
.applied-filter-list li {
  display: flex;
  align-items: center;
  background-color: #eaeaea;
  padding: 0.65rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
}
.applied-filter-list i {
  margin-right: 0.2rem;
}
.result-wrapper {
  width: 90%;
  margin: 0 auto;
  /* overflow: hidden; */
}
.result-container h3 {
  color: #333;
}
.search-bar {
  padding: 3rem 0 2rem 0;
  display: flex;
  flex: 1;
  color: #888;
}
.search-bar h2 {
  color: black;
  flex: 1;
  text-align: right;
  font-size: 1.625rem;
}
.search-bar h2 p {
  display: inline-block;
}
.search-bar strong {
  color: var(--many-use-color);
  margin: 0 0.4rem;
}
.search-bar .area:hover {
  border-bottom: 0.5px dotted var(--many-use-color);
}
.search-cart-wrapper {
  display: flex;
  height: 17.5rem;
  position: relative;
}
.search-Related-results {
  background-color: var(--mainsearch-color);
  margin-top: 17rem;
}
.search-Related-results-wrapper {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.search-Related-results-cart {
  display: flex;
}
/* .delivery-time {
  color: black;
} */
.search-cart-wrapper .delivery-time {
  height: 2rem;
}
.search-cart-wrapper .slick-slider {
  width: 100%;
}
.search-cart-wrapper .slick-track {
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .search-filter span {
    display: none;
  }
  .search-filter div {
    margin-left: 0;
  }
  .result-wrapper .search-bar h2 {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
  }
  .result-wrapper .search-bar {
    flex-direction: column;
    align-items: end;
  }
  .search-cart-wrapper .cart {
    margin: 0;
  }
  .search-navbar-wrapper-filter button {
    padding: 0.4rem 0.5rem;
  }
}
