@import "./styles/main.css";

html {
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  direction: rtl;
  font-family: "iransans";
  background-color: white;
  font-size: 1rem;
  color: var(--color-primary);
}
