:root {
  --many-use-color: #ef4123;
  --main-color: #383c47;
}

.cartFood {
  display: flex;
  /* flex: 1; */
  padding: 1rem;
  width: calc((90% - 1rem) / 2);
  height: 5rem;
  background-color: #fff;
  margin: 0.5rem;
  justify-content: space-between;
  position: relative;
  border-radius: 0.5rem;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.carFood-right,
.carFood-left {
  display: flex;
  flex: 0.25;
  position: relative;
  flex-direction: column;
}

.carFood-right {
  border-radius: 0.5rem;
  overflow: hidden;
  flex: 0.2;
}
.carFood-middle {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  /* background-color: yellow; */
  /* color: brown; */
  text-align: right;
  justify-content: space-around;
}
.carFood-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carFood-middle h3 {
  color: var(--main-color);
  font-weight: 500;
  font-size: 1rem;
}
.carFood-middle span:nth-child(2) {
  margin-bottom: 0.3rem;
  font-size: 0.75rem;
  color: #888;
}
.carFood-middle span:nth-child(3) {
  color: var(--many-use-color);
  font-size: 0.8125rem;
}
.carFood-left .cartFood-add {
  display: flex;
}
.cartFood-add-btn {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0.2px solid var(--many-use-color);
  font-size: 0.75rem;
}
.cartFood-add-btn .icon-plus {
  color: var(--many-use-color);
  vertical-align: middle;
  display: inline-block;
}
.cartFood-add,
.cartFood-discount {
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
@media only screen and (max-width: 992px) {
  /* width: calc((90% - 1rem) / 2); */
  .cartFood {
    width: calc((90% - 2rem) / 2);
  }
}
@media only screen and (max-width: 768px) {
  .cartFood {
    width: 95%;
  }
}
@media only screen and (max-width: 450px) {
  .carFood-middle {
    margin-right: 0.5rem;
  }
  .carFood-right {
    flex: 0.25;
  }
}
@media only screen and (max-width: 388px) {
  .cartFood {
    padding: 0.3rem;
  }
  .carFood-middle {
    margin-right: 0.7rem;
  }
  .carFood-right {
    flex: 0.32;
  }
  .carFood-left {
    flex: 0.1;
  }
}
